.search-info {
  font-family: Tahoma, Geneva, Verdana, sans-serif;
}

section.search-results {
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  padding: 0 var(--spacing-lg);
  align-items: flex-start;
  gap: var(--spacing-lg);
}

section.search-results > article > a {
  cursor: pointer;
  color: rgb(151, 151, 231);
}
