#main-section {
  display: flex;
  flex-wrap: wrap-reverse;
  padding: 0 5%;
  align-items: center;
  gap: 45px;
  font-size: 20px;
}

#main-section > div:first-child {
  transform: rotate(-6deg);
}

#main-section > div img {
  max-width: 300px;
  aspect-ratio: 1;
}

.description {
  flex: 1 0 250px;
}

h2 {
  position: relative;
}

h2:after {
  position: absolute;
  z-index: -1;
  width: 50px;
  content: '';
  height: 70%;
  left: 0;
  bottom: 16%;
  opacity: 0.4;
  transition: 0.5s;
  transform: skewY(5deg);
}
