@font-face {
  font-family: Caveat;
  src: url(/assets/Caveat/Caveat-VariableFont_wght.ttf) format('truetype');
}
:root {
  --primary-light: #faf9f6;
  --primary-dark: #242424;
  --highlighter-yellow: #fbff2b;
  --highlighter-blue: #3cdfff;
  --highlighter-pink: #fb62f3;
  font-family: Caveat, Helvetica, Arial, sans-serif;
  line-height: 1.3;
  font-weight: 400;
  font-size: 20px;
  color: var(--primary-dark);
  background-color: var(--primary-light);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-image: url(/assets/dot-grid.png);
  min-height: 100svh;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
