@font-face {
  font-family: Caveat;
  src: url(/assets/Caveat/Caveat-VariableFont_wght.ttf) format('truetype');
}
:root {
  /* Colors */
  --primary-light: #faf9f6;
  --primary-dark: #242424;
  --highlighter-yellow: #fbff2b;
  --highlighter-blue: #3cdfff;
  --highlighter-pink: #fb62f3;

  /* Spacings */
  --spacing-xl: 50px;
  --spacing-lg: 30px;
  --spacing-md: 20px;
  --spacing-sm: 10px;
  --spacing-xs: 5px;

  /* Border Radius */
  --radius-sm: 5px;
  --radius-md: 15px;
  --radius-lg: 20px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  min-height: 100svh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  color: var(--primary-dark);
  background-color: var(--primary-light);
  font-family: Caveat, Helvetica, Arial, sans-serif;
  line-height: 1.3;
  font-weight: 400;
  font-size: 20px;
}
body::before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-image: url(/assets/dot-seamless-pattern.svg);
  background-size: 200px;
  z-index: -1;
}

a {
  text-decoration: none;
  color: var(--primary-dark);
}

p {
  backdrop-filter: blur(2px);
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-md);
}

/* Estilos resaltadores */
.highlighter {
  position: relative;
  background-color: transparent;
  z-index: 1;
}

.highlighter:after {
  position: absolute;
  z-index: -1;
  content: '';
  height: 70%;
  left: -8px;
  bottom: 16%;
  width: 0%;
  opacity: 0.4;
  transition: width 0.5s;
  transform: skewY(355deg);
}
.yellow:after {
  background: var(--highlighter-yellow);
}

.pink:after {
  background: var(--highlighter-pink);
}

.blue:after {
  background: var(--highlighter-blue);
}

.highlighter:hover:after,
.highlighted:after {
  width: 120%;
}

/* Estilos fotos Polaroid */
.polaroid {
  background: #fff;
  padding: var(--spacing-sm);
  width: fit-content;
  box-shadow: 0 0.2rem 1.2rem rgba(0, 0, 0, 0.2);
}
/* Tema oscuro */
body.dark {
  color: var(--primary-light);
  background-color: var(--primary-dark);
  z-index: -2;
}

body.dark a {
  color: var(--primary-light);
}

/* Animacion cambio de pagina */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fade-out {
  animation: fadeIn 1s ease-in reverse;
}

.fade-in {
  animation: fadeIn 1s ease-in;
}
