#search {
  position: absolute;
  top: var(--spacing-md);
  left: var(--spacing-md);
  height: 50px;
  overflow: hidden;
  cursor: pointer;
  flex-direction: row;
  gap: 0px;
  border: 1px solid var(--primary-dark);
  border-radius: 25px;
  padding: var(--spacing-sm);
  background-color: var(--primary-light);
  z-index: 9;
}

#search > img {
  height: 100%;
  transform: scaleX(-1);
}

#search > input {
  height: 90%;
  border: none;
  border-radius: var(--radius-sm);
  width: 0px;
  transition: 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#search > input.visible {
  padding: var(--spacing-xs);
  width: 200px;
  margin-left: var(--spacing-sm);
}

h3.search-info {
  padding: var(--spacing-md);
  font-size: 40px;
  font-weight: 400;
}

@media screen and (max-width: 600px) {
  #search {
    position: relative;
    top: 0;
    left: 0;
  }
}
