header.flex-container {
  justify-content: center;
  padding: var(--spacing-md);
  height: 120px;
}
header > nav {
  flex-grow: 1;
}
header > nav > ul {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 50px;
  /* padding: 1.5rem; */
  font-size: 25px;
  background-color: transparent;
}
header > div.flex-container {
  flex-direction: row;
  justify-content: center;
  flex-grow: 1;
}
